<!DOCTYPE html>

<form ng-submit="usersEdit.update()">
  <div class="form-group">
    <label for="name">Username</label>
    <input type="text" name="name" id="name" ng-model="usersEdit.user.username" class="form-control">
  </div>

  <div class="form-group">
    <label for="addressLineOne">Address Line 1</label>
    <input type="text" name="addressLineOne" id="addressLineOne" ng-model="usersEdit.user.addressLineOne" class="form-control">
  </div>
  <div class="form-group">
    <label for="addressLineTwo">Address Line 2</label>
    <input type="text" name="addressLineTwo" id="addressLineTwo" ng-model="usersEdit.user.addressLineTwo" class="form-control">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" name="city" id="city" ng-model="usersEdit.user.city" class="form-control">
  </div>
  <div class="form-group">
    <label for="postCode">Postcode</label>
    <input type="text" name="postCode" id="postCode" ng-model="usersEdit.user.postCode" class="form-control">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" base64 name="image" id="image" ng-model="usersEdit.user.base64" class="form-control">

    <img ng-src="{{ usersEdit.user.base64 }}">
  </div>

  <button class="btn btn-primary">Update</button>
</form>
