<!DOCTYPE html>
<!-- <h1>{{ usersShow.user.outgoingOrders }}</h1> -->
<h2>Outgoing Orders</h2>
<div ng-repeat="order in usersShow.user.outgoingOrders">
  <h3> Transaction Id: {{ order.transactionId }}</h3>
  <div ng-repeat="product in order.products">
    <h3> Product: {{ product.product.name }}</h3>
    <h3> Shipped: {{ product.shipped }}</h3>
  </div>
</div>


<h2>Incoming Orders</h2>
<div ng-repeat="order in usersShow.user.incomingOrders">
  <h3> Transaction Id: {{ order.transactionId }}</h3>
  <div ng-repeat="product in order.products">
    <h3> Product: {{ product.product.name }}</h3>
    <h3> Shipped: {{ product.shipped }}</h3>
  </div>
</div>


<div class="user" >
    <div class="image"><img class="img-fluid" ng-src="{{ usersShow.user.imageSRC }}"></div>

    <h1 class="title">{{ usersShow.user.username }}</h1>
    <h3>{{ usersShow.user.description }}</h3>
    <form>
      <a ui-sref="usersEdit({ id: usersShow.user.id })" class="btn" ng-if="main.isAuthenticated() && main.currentUserId === usersShow.user.id">Edit Account</a>
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn" ng-click="usersShow.delete()" ng-if="main.isAuthenticated() && main.currentUserId === usersShow.user.id">Delete Account</button>
    </form>
</div>

<hr>

<a ui-sref="productsNew" ng-if="main.isAuthenticated() && usersShow.user.id"><button class="btn btnNew">Sell</button></a>

<div class="row">
  <div ng-repeat="product in usersShow.products" class="col-lg-4 col-md-6 col-sm-12">
    <div class="image"><a ui-sref="productsShow({ id: product.id })"><img ng-src="{{ product.imageSRC }}" class="img-responsive"></a></div>
    <h3>{{ product.name }}</h3>
    <h3>£ {{ product.price }}</h3>
  </div>
</div>
