<!DOCTYPE html>
<h3>Cart</h3>



<ngcart-cart></ngcart-cart>

<hr/>

<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-xs-4">
        <ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
      </div>
      <div class="col-xs-4">
        <ngcart-checkout service="log" ui-sref="payment">Checkout</ngcart-checkout>
      </div>

    </div>
  </div>
</div>

<!--  TEMPALATES -->

<script type="text/ng-template" id="template/ngCart/summary.html"><div class="row">

  <div class="col-md-6">{{ ngCart.getTotalItems() }}
    <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
    <br />{{ ngCart.totalCost() | currency: "£" }}
  </div>
</div>
</script>


<script type="text/ng-template" id="template/ngCart/cart.html">
  <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
  </div>

  <div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart">

      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Total</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-show="ngCart.getTax()">
          <td></td>
          <td></td>
          <td></td>
          <td>VAT included ({{ ngCart.getTaxRate() }}%):</td>
          <td>{{ ngCart.getTax() | currency: "£" }}</td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
          <td></td>
          <td></td>
          <td></td>
          <td>Shipping:</td>
          <td>{{ ngCart.getShipping() | currency: "£" }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total:
          <td>{{ ngCart.totalCost() - ngCart.getTax()| currency: "£" }}</td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
          <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

          <td>{{ item.getName() }}</td>
          <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
            ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
            {{ item.getQuantity() | number }}&nbsp;&nbsp;
            <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td>{{ item.getPrice() | currency: "£"}}</td>
            <td>{{ item.getTotal() | currency: "£" }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </script>


  <script type="text/ng-template" id="template/ngCart/checkout.html">

    <div ng-if="service == 'log'">
      <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
    </div>


    <div ng-if="service=='paypal'">


        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-show="ngCart.getTotalItems()" target="_top">
          <input name="cmd" type="hidden" value="_xclick"/>
          <!-- <input type="hidden" name="upload" value="1"> -->
          <input name="business" type="hidden" value="test@test.co.uk"/>
          <input name="lc" type="hidden" value="CA"/>
          <input name="item_name" type="hidden" value="{{ settings.paypal.item_name }}"/>
          <input name="item_number" type="hidden" value="{{ settings.paypal.item_number }}"/>
          <input name="amount" type="hidden" value="{{ ngCart.getSubTotal()}}"/>
          <input name="currency_code" type="hidden" value="{{ settings.paypal.currency_code }}"/>
          <input name="button_subtype" type="hidden" value="services"/>
          <input name="no_note" type="hidden" value="{{ settings.paypal.no_note }}"/>
          <input name="tax_rate" type="hidden" value="{{ ngCart.getTaxRate()}}"/>
          <input name="shipping" type="hidden" value="{{ ngCart.getShipping()}}"/>
          <input name="image_url" type="hidden" value="http://localhost:1337/images/logo.png"/>
          <input name="bn" type="hidden" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest"/>
          <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_paynow_cc_144x47.png" type="image"/>
          <!-- <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"/> -->
        </form>

    </div>

  </script>
