<!DOCTYPE html>
<div class="carousel" uib-carousel active="productsIndex.active" interval="productsIndex.myInterval" no-wrap="productsIndex.noWrapSlides">

  <div uib-slide ng-repeat="carousel in productsIndex.more" index="$index" class="carouselContain">
    <img ng-src="{{ carousel.image}}" class="img-responsive">
  </div>
</div>
<div class="row index">

  <div id="filters" class="button-group">
    <button class="button" ng-click="productsIndex.setCategory()" id="a">All Products</button>
    <button class="button" ng-click="productsIndex.setCategory('Home & Living')" id="b">Home & Living</button>
    <button class="button" ng-click="productsIndex.setCategory('Fashion')" id="c">Fashion</button>
    <button class="button" ng-click="productsIndex.setCategory('Crafts')" id="d">Crafts</button>
    <button class="button" ng-click="productsIndex.setCategory('Kids')" id="e">Kids</button>
    <button class="button" ng-click="productsIndex.setCategory('Art & Collectibles')" id="f">Art & Collectibles</button>
    <button class="button" ng-click="productsIndex.setCategory('Entertainment')" id="g">Entertainment</button>
  </div>


  <div class="search">
    <input type="text" class="search" ng-model="productsIndex.q" placeholder="Search...">
  </div>

  <div ng-repeat="product in productsIndex.all | filter: { category: productsIndex.category } | filter: productsIndex.q" class="col-lg-4 col-md-6 col-sm-12">
    <div class="image">
      <a ui-sref="productsShow({ id: product.id })"><img ng-src="{{ product.imageSRC }}" class="img-responsive"></a>
    </div>
  </div>
</div>
