<!DOCTYPE html>
<div class="carousel" uib-carousel active="productsIndex.active" interval="productsIndex.myInterval" no-wrap="productsIndex.noWrapSlides">
      <div uib-slide ng-repeat="carousel in productsIndex.more" index="$index" class="carouselContain">
        <img ng-src="{{ carousel.image}}" class="img-responsive">
      </div>
</div>
<div class="row index">
  <div><input type="text" class="search" ng-model="productsIndex.q" placeholder="Search..."></div>
  <div ng-repeat="product in productsIndex.all | filter: productsIndex.q" class="col-lg-4 col-md-6 col-sm-12">
    <div class="image"><a ui-sref="productsShow({ id: product.id })"><img ng-src="{{ product.imageSRC
    }}" class="img-responsive"></a></div>
  </div>
</div>
