<!DOCTYPE html>
<div class="login">
  <div>
    <h2>Log in</h2>
    <form name="login.loginForm" ng-submit="login.submit()" novalidate>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" ng-model="login.credentials.email" required>
        <div ng-messages="login.loginForm.email.$error" role="alert" ng-show="(login.loginForm.$submitted || login.loginForm.email.$touched) && login.loginForm.email.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
          <div ng-message="email">This field must be a valid email address.</div>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="login.credentials.password" required>
        <div ng-messages="login.loginForm.password.$error" role="alert" ng-show="(login.loginForm.$submitted || login.loginForm.password.$touched) && login.loginForm.password.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
        </div>
      </div>

      <button class="button">Login</button>

      <hr>

      <button ng-click="login.authenticate('github')">Login with GitHub</button>
      
    </form>
  </div>
</div>
