<!DOCTYPE html>
<html ng-app="wabisabiApp">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Wabi Sabi</title>
    <!-- inject:js -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/bower_components/ngCart/dist/ngCart.js"></script>
    <!-- endinject -->
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">

    <nav class="navbar navbar-default" role="navigation">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</button>
  			<a class="navbar-brand" href="/">Wabi Sabi</a>
  		</div>
  		<div class="collapse navbar-collapse" uib-collapse="main.isNavCollapsed">
  			<ul class="nav navbar-nav">
          <li><a ui-sref="productsIndex">Home</a></li>
          <li><a ui-sref="productsNew">Sell</a></li>
          <li><a ui-sref="login">Login</a></li>
          <li><a ui-sref="register">Register</a></li>
          <li><a ui-sref="cart">Cart</a></li>
  			</ul>
  		</div>
	 </nav>

    <div class="container">
      <div class="alert alert-info" ng-if="main.message">{{ main.message }}</div>
      <main ui-view ></main>
    </div>

  </body>
</html>
