// Import all of your scss files here
@font-face {
    font-family: 'aqua_grotesqueregular';
    src: url('/fonts/aqua-webfont.woff2') format('woff2'),
         url('/fonts/aqua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komodaregular';
    src: url('/fonts/komoda-webfont.woff2') format('woff2'),
         url('/fonts/komoda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'qontraregular';
    src: url('/fonts/qontra-webfont.woff2') format('woff2'),
         url('/fonts/qontra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  font-family: 'Karla', sans-serif;
}


.image {
  text-align: center;
}

.navbar {
  background-color: white;
  .navbar-header {
    a {
      margin: 30px auto;
      font-size: 75px;
      letter-spacing: 4px;
    }
  }
  .navbar-brand {
    font-family: 'komodaregular';
  }
  ul {
    float: right;
    text-align: center;
    font-size: 20px;
    margin: 30px auto;
  }
}

.carousel {

  img {
    width: 100%;
}
}

#filters {
  margin: 30px auto;
  padding: 20px auto;
  .button {
    margin: 10px 10px;
    border-radius: 2px;
    color: white;
    padding: 10px;
    border: 2px solid;
    font-size: 20px;
  }
}

.index {
  text-align: center;
  input {
    margin: 20px auto;
  }
  .image {
    margin: 30px 20px;
    padding: 10px auto;
    img {
      width: 100%;
    }
  }
  #a {
    background-color: #cfe0e8;
  }
  #b {
    background-color: #b7d7e8;
  }
  #c {
    background-color: #87bdd8;
  }
  #d {
    background-color: #daebe8;
  }
  #e {
    background-color:  #c0ded9;
  }
  #f {
    background-color: #96ceb4;
  }
  #g {
    background-color: #77a8a8;
  }
  .search {
    font-size: 20px;
  }
}

.show {
  h2 {
    text-align: center;
  }
  img {
    width: 100%;
  }
}

.new {
  height: 100%;
  h2 {
    font-family: 'komodaregular';
    border-style: solid;
    text-align: center;
    font-size: 30px;
  }
  .section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .button {
    margin: 10px 10px;
    border-radius: 2px;
    color: white;
    padding: 5px;
    border: 2px solid;
    font-size: 18px;
  }
}

.login {
  height: 100%;
  h2 {
    font-family: 'komodaregular';
    border-style: solid;
    text-align: center;
    font-size: 30px;
  }
  .section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .button {
    margin: 30px;
    margin: 10px 10px;
    border-radius: 2px;
    color: white;
    padding: 5px;
    border: 2px solid shadow;
    font-size: 18px;
  }
  #instagram {
    text-align: center;
    button {
      margin: 30px;
      margin: 10px 10px;
      border-radius: 2px;
      color: white;
      padding: 5px;
      border: 2px solid shadow;
      font-size: 18px;
    }
  }
}

.register {
  height: 100%;
  .section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .button {
    margin: 30px;
    margin: 10px 10px;
    border-radius: 2px;
    color: white;
    padding: 5px;
    border: 2px solid shadow;
    font-size: 18px;
  }
  #image {
    margin: 30px;
    margin: 10px 10px;
    border-radius: 2px;
    color: white;
    padding: 5px;
    border: 2px solid shadow;
    font-size: 18px;
  }
}

.profile {
    .image {
      text-align: center;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    img {
      width: 100%;
    }
}

.cart {
  .button {
    text-align: center;

  }
}

@media (max-width: 778px) {
    .navbar {
      ul{
        float: none;
      }
    }
}
